<div class="container">
  <hr />
  <h2>What is IndieReel?</h2>
  <hr />

  <p>This is how we do it.</p>

  <% if current_user.nil? %>
    <h4><%= link_to "Back to Welcome Page", root_url, :class => "btn btn-info btn-small" %></h4>
  <% end %>

</div>

<p>This is how we do it.</p>

<% if current_user.nil? %>
	<h4><%= link_to "Back to Welcome Page", root_url, :class => "btn btn-info btn-small" %></h4>
<% end %>
