<hr />
  <h2>About IndieReel</h2>
<hr />


<hr />
  <h2>Why does it exist?</h2>
<hr />

<div class="row-fluid">
  <div class="span8">
    <p>It all started with...</p>
  </div>
  <div class="span4">
    <p>John's Picture</p>
  </div>
</div>

<div class="row-fluid">
  <div class="span8">
    <p>Then it really began with...</p>
  </div>
  <div class="span4">
    <p>CS169 picture</p>
  </div>
</div>
  
<hr />
  <h2>It's Purpose</h2>
<hr />

<p>IndieReel is a community where filmmakers of all backgrounds and experience levels can come together and do what they love: creating awesome films. Whether it's for kicks and giggles or serious business, this is where it's at. Search for other passionate indie individuals, look at projects that you would like to work on, and contribute to great productions. </p>
