<hr />
  <h2>What is IndieReel?</h2>
<hr />

<p>IndieReel is a community where filmmakers of all backgrounds and experience levels can come together and do what they love: creating awesome films. Whether it's for kicks and giggles or serious business, this is where it's at. Search for other passionate indie individuals, look at projects that you would like to work on, and contribute to great productions. </p>

