
<div class="alert alert-info">
    <h4>What is IndieReel?</h4>
</div>

This is how we do it.

<% if current_user.nil? %>
  <h4><%= link_to "Back to Welcome Page", root_url, :class => "btn btn-info btn-small" %></h4>
<% end %>
