<%= content_for :title do %>
  Contact Us | IndieReel
<% end%>


<hr />
<h2>Contact Us!</h2>
<hr />

<div id="centered">
	<p>
		We value any feedback that you might have about IndieReel.
		<br> 
		Please contact us:
		<br>
		<div align="center">
		Amy Kuo - amyyskuo@gmail.com
		<br> Evan Kawahara - evan.kawahara@gmail.com
		<br> Kunal Mehta - zerostrife49@gmail.com
		<br> Jay Kim - jkninja@gmail.com
		<br> Sylvia Lin - sylviarlin@gmail.com
		</div>
		<br>
		<br>
		<img src="../assets/toucan.png" height="200" width="200">
	</p>
</div>


