<div id="content">
	<img src="http://lemmonds.com/sites/clintcoleman/images/work/id/id_indiereels.gif" alt="logo" style="float: left;"/>
    <a href="/auth/facebook">Login with Facebook!</a>
	<p>A new service to take indie movies to the next level! <br /> <br />  IndieReel is a social network in which film artists (actors/crew) can connect through individual/group film productions and other features to reach new levels of success in the realm of indie movies</p>
	<p>Copyright Team 42 – <a href="http://twitter.com/localVariable" title="IndieReel">Follow us on Twitter</a></p>
</div>
