<%= content_for :title do %>
  Welcome to IndieReel!
<% end%>

<div id="welcome">
	<div id="description">
		<strong>Welcome to IndieReel!</strong>
		 A place where you can find passionate filmmakers of every sort. Show your work. Connect with others. Collaborate. Get the Reel going.
		<br />
		<a href="/auth/facebook" class="btn btn-primary" id="facebook-connect">Connect with Facebook</a><br/>
		<p id="disclaimer">(Don't worry - we only use your basic info to log you in, and we'll <em>never</em> post to your profile.)</p>
	</div>
</div>
