<div id="welcome">
	<div id="description">
		<strong>Welcome to IndieReel!</strong> This is a community to do indie stuff. You can search for members or for projects, and display your portfolio to the world. To get started, just log in with your Facebook account!
		<a href="/auth/facebook" class="btn btn-primary" id="facebook-connect">Connect with Facebook!</a>
		<p id="disclaimer">(Don't worry - we only use your basic info to log you in, and we'll <em>never</em> post to your profile.)</p>
	</div>
</div>
