<div class="container">
  
  <div class="row-fluid">
    <div class="span12">
      <img src="../assets/group.jpg">
    </div>
  </div>
  
  <hr />
    <h2>Meet the Team :]</h2>
  <hr />

  <div class="row-fluid">
    <div class="span4">
      <img src="../assets/evan.jpg">
    </div>
    <div class="span4 offset4">
    
    </div>
  </div>

  <div class="row-fluid">
    <div class="span4 offset 4">
      <img src="../assets/jay.jpg">
    </div>
    <div class="span4">
      
    </div>
  </div>

  <div class="row-fluid">
    <div class="span4">
      <img src="../assets/kunal.jpg">
    </div>
    <div class="span4 offset4">
      
    </div>
  </div>

  <div class="row-fluid">
    <div class="span4 offset4">
      
    </div>
    <div class="span4">
      <img src="../assets/sylvia.jpg">
    </div>
  </div>

  <div class="row-fluid">
    <div class="span4">
      
    </div>
    <div class="span4 offset4">
      
    </div>
  </div>

  <p>We are awesome people.</p>
  
</div>
