<div class="container">

  <hr />
    <h2>Meet the Team :]</h2>
  <hr />

  <div class="row-fluid">
    <div class="span4">

    </div>
    <div class="span8">
    
    </div>
  </div>

  <div class="row-fluid">
    <div class="span8">
      
    </div>
    <div class="span4">
      
    </div>
  </div>

  <div class="row-fluid">
    <div class="span4">
      
    </div>
    <div class="span8">
      
    </div>
  </div>

  <div class="row-fluid">
    <div class="span8">
      
    </div>
    <div class="span4">
      
    </div>
  </div>

  <div class="row-fluid">
    <div class="span4">
      
    </div>
    <div class="span8">
      
    </div>
  </div>

  <p>We are awesome people.</p>
  
</div>
