<div class="container">

  <div class="row-fluid">
    <div class="span12">
      <img src="../assets/group.jpg">
    </div>
  </div>

  <div class="row-fluid">
    <hr />
      <h2>Meet the Team :]</h2>
    <hr />  
  </div>
    
  <div class="row-fluid">
    <div class="span5">
      <img src="../assets/evan.jpg" height="391" width="391">
    </div>
    <div class="span7">
      <div class="row-fluid">
        <h3>Evan Kawahara</h3>
      </div>
      <div class="row-fluid">
        <p> alksgjk;lkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk </p>  
      </div>
    </div>
  </div>
      
  <hr />
      
  <div class="row-fluid">
    <div class="span7">
      <div class="row-fluid">
        <h3 class="pull-right">Jay Kim</h3>
      </div>
      <div class="row-fluid">
        <p> alksgjk;lkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk </p>  
      </div>
    </div>
    <div class="span5">
      <img class="pull-right" src="../assets/jay.jpg" height="391" width="391">
    </div>
  </div>
  
  <hr />

  <div class="row-fluid">
    <div class="span5">
      <img src="../assets/kunal.jpg" height="391" width="391">
    </div>
    <div class="span7">
      <div class="row-fluid">
        <h3>Kunal Mehta</h3>
      </div>
      <div class="row-fluid">
        <p> alksgjk;lkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk </p>  
      </div>
    </div>
  </div>
  
  <hr />

  <div class="row-fluid">
    <div class="span7">
      <div class="row-fluid">
        <h3 class="pull-right">Sylvia Lin</h3>
      </div>
      <div class="row-fluid">
        <p> alksgjk;lkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk </p>  
      </div>
    </div>
    <div class="span5">
      <img class="pull-right"  src="../assets/sylvia.jpg" height="391" width="391">
    </div>
  </div>
  
  <hr />

  <div class="row-fluid">
    <div class="span6">
      <p> alksgjk;lkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk </p>
    </div>
    <div class="span6">
      <p> alksgjk;lkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk </p>
    </div>
  </div>

  <p>We are awesome people.</p>

</div>
