
<div class="alert alert-info">
    <h4>Meet the Team</h4>
</div>

This is who we are :].

<% if current_user.nil? %>
  <h4><%= link_to "Back to Welcome Page", root, :class => "btn btn-info btn-small" %></h4>
<% end %>
