<hr />
	<h3>
		Add an Album to <%= @role.role_type.capitalize %>
		<span class="pull-right">
			<%= link_to "Back to Portfolio", portfolio_route(@role), :class => "btn btn-mini"%>
		</span>
	</h3>
<hr />
<%= render "form" %>

