<% if current_user.uid == @user.uid %>
	<div class="alert alert-info">
	    <h4>You're on your <%= @mediacollection.title %> page for <%= @role.role_type %>.<small class="pull-right"><%= link_to "Edit this Album", role_route(@role, "edit") %></small></h4>
	</div>
<% end %>
