<div align="center">

  <h2>You have no roles.</h2> 
  <br>
  <p><%= link_to "CREATE ONE", new_role_path, :class => "btn btn-info btn-large" %></p>

</div>
      
<br>

<div class="row-fluid">
  <div class="span6">
    <div class="well">
      <h4 align="center">What are roles? </h4>    
      <p>A role is the position that you would take in a film production. You can have up to 4 main roles: Director, Talent, Producer, Crew. You can elaborate on details in your role profile.</p>
      <br>
    </div>
  </div>
  
  <div class="span6">
    <div class="well">
      <h4 align="center">What can you do with a role?</h4>    
      <p>We give users the option to present themsleves to others in multiple ways. With each role, a user can can fine-tune and specialize what information that others can see.  This allows users to specify their talents and interests for different jobs through distinct profiles.</p>
    </div>
  </div>
</div>

<div class="row-fluid" align="center">
  <p>For more information, please visit the <%= link_to "help page", help_path %>.</p>
</div>

