<% if current_user.uid == @user.uid %>
    <h1>Welcome to IndieReel, <%= current_user.first_name %>!</h1>
    <%= link_to "Your profile as an actor", :controller => "roles", :role => "actor", :identifier => current_user.identifier %>
<% else %>
    <h1>You're on <%= @user.name %>'s Profile!</h1>
<% end %>
<%= link_to "Logout", logout_path %>