<div class='row-fluid'>
  <small class='pull-right'>
    <%= link_to 'Edit', edit_role_route(role) %> | 
    <%= link_to 'Delete', role_path(role), {:method => :delete, :confirm => 'Are you sure you want to delete this role?'} %> | 
    
    <% if !preview %>
      <%= link_to 'View as Public Profile', role_route(role) + '?preview=true' %>
    <% else %>
      <%= link_to 'View All Fields', role_route(role) %>
    <% end %>
  </small>
</div>
