<%= form_tag roles_path do %>
	<select name="name">
		<% for option in @options do %>
			<option value="<%= option %>"><%= option %></option>
		<% end %>
	</select>
	<input type="submit" value="Create role.">
<% end %>