<%= form_tag roles_path do %>
	<select name="role_type">
		<% for option in @options do %>
			<option value="<%= option %>"><%= option %></option>
		<% end %>
	</select>
	<input type="submit" value="Create role.">
<% end %>
<%= link_to "Cancel", home_path(@user.username) %>
