// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td.indexpage {
background-image:url(../assets/welcome_1.jpg);
background-repeat:no-repeat;
width:940px;
height:600px;
padding-top:300px;
padding-bottom:300px;
padding-right:405px;
padding-left:145px;
}


