// Place all the styles related to the media_collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ir-album-header {
	padding-bottom: 0px;
	margin: 25px 0px 15px 0px;
}

.ir-media-thumbnail {
	padding: 5px
}