<% if flash[:notice] %>
	<div class="alert alert-info">
    	<div class="notice"><%= flash[:notice] %></div>
    </div>
<% elsif flash[:error] %>
    <div class="alert alert-danger">
    	<div class="error"><%= flash[:error] %></div>
    </div>
<% elsif flash[:success] %>
	<div class="alert alert-success">
    	<div class="success"><%= flash[:success] %></div>
    </div>
<% end %>