<footer>
  <div class="container">
    <%= link_to "About IndieReel", "#" %> | 
    <%= link_to "Contact Us", "#" %> | 
    <%= link_to "Meet the Team", "#" %>
    <br>
    Copyright &#169; 2012 Team 42
  </div>
</footer> 
