<div id="footer-container">
<footer>
  <hr />
  <%= link_to "About IndieReel", about_path %> | 
  <%= link_to "Contact Us", contact_path %> | 
  <%= link_to "Meet the Team", meet_path %> | 
  <%= link_to "FAQ", help_path %>
  <br>
  Copyright &#169; 2012 Team 42
</footer>
</div>
<script type="text/javascript">
//$(function(){
	 
	var footerHeight = 0,
           footerTop = 0,
           $footer = $("#footer-container");

       positionFooter();

       function positionFooter() {

                footerHeight = $footer.height();
                footerTop = ($(window).scrollTop()+$(window).height()-footerHeight - 30)+"px";

               if ( ($(document.body).height()+footerHeight) < $(window).height()) {
                   $footer.css({
                        position: "absolute",
                        top: footerTop
                   })/*.animate({
                        top: footerTop
                   })*/
               } else {
                   $footer.css({
                        position: "static"
                   })
               }

       }

       $(window)
               .scroll(positionFooter)
               .resize(positionFooter)
//});
</script>
