<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "IndieReel", home_route(current_user), :class => "brand"%>
			<ul class="nav">
				<li class="divider-vertical"></li>
				<% for role in current_user.roles %>
				<li><%= link_to role.role_type.capitalize, role_route(role), :class => "ir-#{role.role_type}-profile-link"%>
				<% end %>
				<li class="divider-vertical"></li>
				<li><a href="#">Search for People</a></li>
			</ul>
			<ul class="nav pull-right">
				<li><img src="<%= current_user.image %>" height="28" width="28" style="margin-top: 6px"></li>
				<li><%= link_to "Logout", logout_path %></li>
			</ul>
		</div>
	</div>
</div>