<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "IndieReel", root, :class => "brand"%>
			<ul class="nav">
				<li class="divider-vertical"></li>
				<li><%= link_to "Back to Welcome Page", root %><li>
			</ul>
			<ul class="nav pull-right">
				<li><a href="/auth/facebook" id="facebook-connect">Connect with Facebook!</a></li>
			</ul>
		</div>
	</div>
</div>
